<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/styleSheet.css" th:href="@{/css/styleSheet.css}" />
	
	<title>User's answers</title>
</head>

<body>

	<h1 align="center"> User's answers </h1>
	<h3 align="center" th:text="${ 'UserId: ' + userId }"></h3>

	<!-- User's answers -->
	<div align="center" style="padding: 10px 0px" th:if="${ fullAnswers != null }">
		<table>
			<thead>
				<tr>
					<th> Question </th>
					<th> Answer </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fullAnswer : ${ fullAnswers }">
					<td th:text="${ fullAnswer.question.question }"></td>
					<td th:text="${ fullAnswer.answer }"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- Error message div -->
	<div align="center" style="padding: 10px 0px" th:if="${ fullAnswers == null }">
		<p style="color: red;"> No answers found </p>
	</div>

</body>

</html>