<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/styleSheet.css" th:href="@{/css/styleSheet.css}" />

	<title>Inspection page</title>
</head>

<body>

	<h1 align="center"> Inspection Page </h1>

	<div align="center" style="padding: 10px 0px">
	    <form action="GetAnswerLogDetails" method="GET">
	    
	    	<div th:if="${ date == null }">
	    		<input type="date" name="date" value="01-01-1971"/>
	    	</div>
	    	
	    	<div th:if="${ date != null }">
	    		<input type="date" name="date" th:value="${date}"/>
	    	</div>
	    	
	    	<br>
	        <input class="submit" name="action" type="submit" value="Select"/>
		</form>
	</div>

	<!-- Inspection div -->
	<div align="center" th:if="${ (confirmedUsers != null ||  cancelledUsers != null) && errorMessage == null }">
	
		<h3> Confirmed questionnaires </h3>
		<table>
			<thead>
				<tr>
					<th> Id </th>
					<th> Username </th>
					<th> See Answers </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${ confirmedUsers }">
					<td align="center" th:text="${ user.id }"></td>
					<td align="center" th:text="${ user.username }"></td>
					<td align="center"> <a th:href="@{/GoToUserAnswers(userId = ${user.Id}, productOfDayId = ${productOfDayId})}"> Answers </a> </td>
				</tr>
			</tbody>
		</table>
		
		<h3> Deleted questionnaires </h3>
		<table>
			<thead>
				<tr>
					<th> Id </th>
					<th> Username </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${ cancelledUsers }">
					<td align="center" th:text="${ user.id }"></td>
					<td align="center" th:text="${ user.username }"></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<!-- Error message div -->
	<div align="center" th:if="${ errorMessage != null }">
		<p th:text = "${ errorMessage }"></p>
	</div>

	<div align="right" style="padding: 10px 10px 0px 0px">
		<a th:href="@{/GoToAdminHomepage}">Home</a>
	</div>

</body>

</html>