<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/styleSheet.css" th:href="@{/css/styleSheet.css}" />

	<title>Deletion page</title>
</head>

<body>

	<h1 align="center"> Deletion Page </h1>
	
	<div align="center" style="padding: 10px 0px">
		<table>
		
			<thead>
				<tr>
					<th> Product name </th>
					<th> Date </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="productOfDay : ${ deletableProducts }">
					<td th:text="${ productOfDay.product.prodName }"></td>
					<td th:text="${ productOfDay.chosenDate }"></td>
					<td> <a th:href="@{/DeleteQuestionnaires(productOfDayId=${productOfDay.Id})}"> Delete </a> </td>
				</tr>
				
				<tr th:each="productOfDay : ${ nonDeletableProducts }">
					<td th:text="${ productOfDay.product.prodName }"></td>
					<td th:text="${ productOfDay.chosenDate }"></td>
					<td> Non deletable </td>
				</tr>
			</tbody>
			
		</table>
	</div>
    
	
	<div align="center" style="padding: 10px 0px" th:if="${ error != null }">
		<p style="color: red;" th:text="${ error }"></p>
	</div>
	
	<div align="right" style="padding: 10px 10px 0px 0px">
		<a th:href="@{/GoToAdminHomepage}">Home</a>
	</div>
	
</body>

</html>