<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/styleSheet.css" th:href="@{/css/styleSheet.css}" />

	<title>Login page</title>
</head>

<body>

	<h1 align="center"> Admin Homepage </h1>


	<p align="center" style="padding: 10px 0px 0px 0px"> Please select an action </p>
	
	<div align="center" style="padding: 10px 0px">
		<form action="GoToAdminCreatePage" method="POST">
			<input class="submit" name="action" type="submit" value="Create"/>
		</form>
	</div>
	
	<div align="center" style="padding: 10px 0px">
		<form action="GoToAdminInspectPage" method="POST">
        	<input class="submit" name="action" type="submit" value="Inspect"/>
		</form>
	</div>
	
	<div align="center" style="padding: 10px 0px">
		<form action="GoToAdminDeletePage" method="POST">
        	<input class="submit" name="action" type="submit" value="Delete"/>
		</form>
	</div>
	
	<div align="right" style="padding: 10px 10px 0px 0px">
		<a th:href="@{/Logout}">Logout</a>
	</div>

</body>

</html>