<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/styleSheet.css" th:href="@{/css/styleSheet.css}" />

	<title>Creation page</title>
</head>

<body>

	<h1 align="center"> Creation Page </h1>

	<div align="center" style="padding: 10px 0px" th:if="${ numberOfQuestions == null }">
	
	    <form action="GoToAdminCreatePage" method="POST">
		
			<!-- Products dropdown -->
	        <p> Select the product: </p>
			<select name="productId" id="productId">
				<option th:each="p : ${ products }" th:value="${ p.Id }" th:text = "${ p.prodName }"> </option>
			</select>
			
			<!-- Date -->
	        <p> Select the date of the questionnaire: </p>
	    	<input type="date" name="date" th:value="${ currentDate }" th:min="${ currentDate }"/>
	        
	        <!-- Number of questions -->
	        <p> Select the number of questions: </p>
	        <input name="numberOfQuestions" type="number" value="4">
	        
	        <!-- Submit -->
	        </br>
	        <input class = "submit" name="action" type="submit" value="Confirm"/>
	        
		</form>
	
	</div>

	<div align="center" style="padding: 10px 0px">
		<form action="GoToAdminCreatePage" method="POST">
			<div th:if="${ numberOfQuestions != null }">
		
				<table>
			
					<thead>
						<tr>
							<th> Insert the questions </th>
						</tr>
					</thead>
				
					<tbody>
						<tr th:each="i : ${#numbers.sequence(1, numberOfQuestions)}">
							<td> <input th:name="${i}" type="text"/> </td>
						</tr>
					</tbody>
				
				</table>
			
		    	<!-- Submit -->
		    	</br>
		    	<input class = "submit" name="action" type="submit" value="Register"/>
		        
			</div>

		</form>
	</div>
	
	<!-- Error message -->
	<div align="center" style="padding: 10px 0px">
		<div th:if="${ errorMessage != null }">
			<p style="color: red;" th:text = "${errorMessage}"></p>
		</div>
	</div>
	
	<div align="right" style="padding: 10px 10px 0px 0px">
		<a th:href="@{/GoToAdminHomepage}">Home</a>
	</div>
	
</body>

</html>