<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/styleSheet.css" th:href="@{/css/styleSheet.css}" />
	<title>Homepage</title>
</head>

<body>

	<div align="center">
		<h1 th:if="${prod != null}">Product of the day: <span th:text="${prod.prodName}">PRODUCT</span></h1>
		<h1 th:if="${prod == null}">No product for today :(</h1>
	</div>
	
	<div align="center" style="padding: 5px 0px">
		<p th:if="${prod != null}">
			<img th:src="*{'data:image/png;base64,' + image}"></img>
		</p>
	</div>
		
	<div align="center" style="padding: 10px 0px"> </div>
	
	<div align="center" style="padding: 5px 0px">
		<form th:if="${prod != null && alreadyAnsw == false}" action="GoToSurvey" method="GET">
			If you're interested in completing the survey, please click here <br>
			<input class="submit" name="action" type="submit" value="Survey"/>
		</form>
	</div>
	
	<div align="center" style="padding: 5px 0px">
		<form th:if="${prod != null}" action="GoToLeaderBoard" method="GET">
			If you're interested in today's leaderboard, please click here <br>
			<input class="submitXL" name="action" type="submit" value="Leaderboard"/><br>
		</form>
	</div>
	
	
	<!-- Reviews -->
	<div th:if="${prod != null}" align="center" style="padding: 10px 0px">
	
		<h2 align="center"> Reviews </h2>
		<table>
		
			<thead>
				<tr>
					<th>User</th>
					<th>Review</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="review : ${ reviews }">
					<td align="center" th:text="${ review.user.username }"></td>
					<td align="center" th:text="${ review.reviewText }"></td>
				</tr>
			</tbody>
			
		</table>
	</div>
	
	<div align="right" style="padding: 10px 10px 0px 0px">
		<a th:href="@{/Logout}">Logout</a>
	</div>

</body>
</html>