<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">

<title>Leaderboard</title>
</head>

<body>

	<h1> Leaderboard </h1>
	
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${ users }">
				<td th:text="${ user.username }"></td>
				<td th:text="${ user.email }"></td>
				<td th:text="${ user.totPoints }"></td>
			</tr>
		</tbody>
	</table>
	
	<form action="GoToHomepage" method="GET">
        <input name="action" type="submit" value="Go to Homepage"/>
	</form>

</body>

</html>