<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/styleSheet.css" th:href="@{/css/styleSheet.css}" />
	<title>Survey</title>
</head>

<body>

	<h1 align="center"> Survey Completed! </h1>
	
	<div align="center" style="padding: 10px 0px">
	
		<p align="center"> Thank you for answering all these questions, you'll be rewarded immediately some points! </p>
				
	</div>
	
	<div align="right" style="padding: 10px 10px 0px 0px">	
		<a th:href="@{/GoToHomepage}">Home</a>
	</div>

</body>
</html>