<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/styleSheet.css" th:href="@{/css/styleSheet.css}" />
	<title>Survey</title>
</head>

<body>
	<h1 align="center"> Survey (part 1) </h1>
	
	<p align="center">Please note that every question is mandatory, so you can't proceed further if any of the questions haven't been answered</p>
	
	<div align="center" style="padding: 10px 0px">
	
		<form style="padding: 20px 0px" action="RecordQuestAnswers" method="POST">
		
			<div th:if="${answList != null}" style="padding: 2px 0px" th:each="i : ${ intList }">
				<span th:text="${questList.get(i).question}"> Question </span> <br>
				<input class="quest" type="text" name="answList" th:value="${answList.get(i)}"><br>
			</div> <br>
	
			<div th:if="${answList == null}"  style="padding: 2px 0px" th:each="q : ${ questList }">
				<span th:text="${q.question}"> Question </span> <br>
				<input class="quest" type="text" name="answList"><br>
			</div> <br>
		
			<input class="submit" name="action" type="submit" value="Next" /><br><br>
		
			<p style="color: red;" th:text = "${errorMsg}"></p>
		
		</form>
		
	</div>
	
</body>
</html>