<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Survey</title>
</head>
<body>
	<h1> Survey (part 1) </h1>
	
	<p>Please note that every question is mandatory, so you can't proceed further if any of the questions haven't been answered</p>
	
	<form action="RecordQuestAnswers" method="POST">
	
		<div th:each="q : ${ questList }">
			<span th:text="${q.question}"> Question </span> <br>
			<input type="text" name="answList"><br>
		</div> <br>
		
		<input name="action" type="submit" value="Next" /><br><br>
		
		<p th:text = "${errorMsg}"></p>
		
	</form>

</body>
</html>